<div class="row">
  <div class="col s6">
    <h2 class="center-align valign-wrapper">
      <i class="medium material-icons">person
      </i>Über mich</h2>
    <p class="flow-text">
      Seit 18 Jahren wohnen wir jetzt hier und erfreuen uns immer wieder an der schönen Gegend. Mindestens einmal die Woche gehe
      ich auf unseren Hausberg "Das Hörnle in Bad Kohlgrub", absolut traumhaft ist es auf dem Heimgarten mit Blick auf den
      Walchensee, für die 1000 Höhenmeter braucht man aber etwas länger. Viel Zeit investiere ich in unseren großen Garten,
      die Arbeit bzw. das Vergnügen hört nie auf!
    </p>
    <h2 class="center-align valign-wrapper">
      <i class="medium material-icons">home</i>Nachbarschaft</h2>
    <p class="flow-text">In Hechendorf selbst ist ein netter Biergarten (200 m). In zwei Minuten ist man im Munauer Moos, abseits der Straße,
      entlag der Loisach mit Blick auf die Zugspitze kann bis nach Garmisch radeln.<br><br> Mein Lieblingsort ist die Wirtschaft auf dem Gipfel vom Heimgarten, man hat dort einen gigantischen Blick. Hoch geht es
      von Ohlstadt (4 km) aus, man braucht etwa zwei Stunden. Wer es lieber fauler mag, legt sich an den Staffel-, Rieg- oder
      Froschsee. Radlfans fahren durch das Eschenlainetal bis zum Walchensee. Danach kann man noch nach Murnau in die Fußgängerzone
      fahren und sich ein Eis beim Gabrielli holen. Sagenhaft! Den schönsten Blick hat man vom Biergarten in Uffing direkt
      am Staffelsee </p>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="./../../assets/imgs/about2.JPG">
        <span class="card-title">Die Umgebung</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <p class="flow-text"> .</p>
  <h4 class="center-align valign-wrapper">
    <i class="medium material-icons">airport_shuttle</i>Verkehrsmittel</h4>
  <p class="flow-text">Verkehrsmittel In Hechendorf fährt ein Bus, allerdings nur selten. Am Bahnhof ist man zu Fuß in zwanzig Minuten, von dort
    ist man in einer Stunde in München und in 30 Minuten in Garmisch-Partenkrichen. Mir dem Fahrrad geht alles deutlich schneller.</p>
</div>