    <div class="row">
      <div class="col s12 ">
        <h2 class="center-align valign-wrapper"><i class="medium material-icons">info</i>Allgemeine Informationen</h2>
        <p class="flow-text">{{wohnraum}}</p>
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <h2 class="center-align valign-wrapper"><i class="medium material-icons">lock</i>Zugang</h2>
        <p class="flow-text">{{zugang}}</p>
      </div>
      <div class="col s8 ">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="http://159.89.19.33/assets/imgs/terasse.JPG">
            <span class="card-title">Der private Zugang</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s8 ">
        <h2 class="center-align valign-wrapper"><i class="medium material-icons">local_convenience_store</i>Markt Murnau</h2>
        <p class="flow-text">{{markt}}</p>
      </div>
      <div class="col-s4">
        <ul class="collection with-header">
          <li class="collection-header" style="background-color: #ee6e73"><h4 class="center-align" style="color:white">Hausregeln</h4></li>
          <li class="collection-item"><p class="flow-text">Rauchen ist nicht erlaubt, jedoch auf der Terrasse gerne</p></li>
          <li class="collection-item"><p class="flow-text">keine Parties oder Veranstaltungen</p></li>
          <li class="collection-item"><p class="flow-text">nicht geeignet für Kinder (0 - 12 Jahren)</p></li>
        </ul>
      </div>
    </div>
